.vs/
.vscode
.git
yarn.lock
node_modules/
packages
bin/
obj/
package-lock.json
Content/css/dependent
Content/css/bold-reports
Scripts/dependent
Scripts/bold-reports
.nuget
*.user
*.log
*.htm
nuget.exe
Cache/